<h1>{{title}}</h1>
<p>{{proyecto}}</p>

<a href="/">Acerca</a>  <a href="/objetivos">Objetivos</a> <a href="/plataforma">Plataforma</a> <a href="/recopilacion">Recopilacion</a> <a href="/valores">Valores patrimoniales</a>

<img style="max-width:100%" src="//cdn.thinglink.me/api/image/890077235904512002/1024/10/scaletowidth#tl-890077235904512002;1043138249'" class="alwaysThinglink"/><script async charset="utf-8" src="//cdn.thinglink.me/jse/embed.js"></script>
<p>{{final}}</p>
